
<div class="container">
    <h1>Bussiness we Back</h1>
    <div class="about-section">
        <img src="https://static.vecteezy.com/system/resources/previews/006/849/620/original/abstract-background-with-soft-gradient-color-and-dynamic-shadow-on-background-background-for-wallpaper-eps-10-free-vector.jpg" alt="">
        <div class="about-text">
            <h1>Resturants</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cum quia fuga consequatur voluptate debitis velit error fugit vitae perferendis consectetur labore explicabo nobis animi, ratione placeat, magnam similique distinctio?</p>
            <button>Contact us</button>
        </div>
    </div>
</div>
