.container{
    text-align: center;
    margin: 50px auto;
}
.about-section{
    display: flex;
    justify-content: space-around;    
}
.about-section img{
    width: 50%;
    height: 50%;
    
    margin: 20px;
}
.about-text{
    margin-top: 80px;
    text-align: right;
}
/* make button with light blue outline  and light blue text with white background*/
.about-text button{
    border: 1px solid #00bfff;
    color: #00bfff;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}