nav {
    background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.logo-container img {
  width: 150px;
}

.navbar-toggle {
  cursor: pointer;
  display: none; /* hide the toggle icon by default */
}

.navbar-toggle-icon {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

ul li {
  display: inline-block;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

ul li button {
  background-color: #249ed2;
  border-radius: 5%;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block; /* display the toggle icon on mobile devices */
  }

  ul {
    display: none; /* hide the navigation items by default on mobile devices */
    flex-direction: column;
    background-color: rgba(137, 97, 97, 0.523);
    margin-top: 10px;
    padding: 10px;
    
  }

  ul.show {
    display: inline-block; /* show the navigation items when the toggle icon is clicked */
    text-align: right;
    background-color: rgba(133, 133, 133, 0.687);
    position: absolute;
    left: 70%;
    top: 65px;
    z-index: 1;

  }
}
