<section>
<div class="container">
    <p class="text-center">Join over 700+ business working with us to fulfill your last mile delivery needs</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Company</h3>
            <ul>
                <li>About us</li>
                <li>Careers</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Explore</h3>
            <ul>
                <li>For Business</li>
                <li>For Customers</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Get in Touch</h3>
            <ul>
                <li>contact@heykarry.com</li>
                <li>+97144327639</li>
                <li>
                    <ul class="social-media">
                        <li>f</li>
                        <li>in</li>
                        <li>Twi</li>
                        <li>Insta</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center copyright">@copyright 2021-2022 | All Right Reserved | Designed by Ayesha Khalid | Term and Conditions | Privacy Policy</div>
</section>