.container{
   
    padding: 20px;
    color: white;
}
section{
    background-color: black;
}
.copyright{
    background-color: yellow;
    padding:5px;
    font-size: small;
    font-weight: bold;
}
ul li{
    list-style-type: none;
    padding-top: 10px;
    text-decoration: none;
}
h3{
    padding-left: 30px;
}
.social-media li{
    display: inline-block;
    margin: 5px;
    border: 1px solid white;
    width: 35px;
    border-radius: 50%;
    text-align: center;
}